<div class="ui borderless main menu">
	<div class="ui container">
		<a href="#" class="header item">
			<img class="logo" src="assets/images/200.gif"> ANGCZART
		</a>
		<a href="#" class="item">Nothing</a> <a href="#" class="item">Nothing</a>
		<a href="#" class="ui right floated dropdown item"> Nothing 
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item">Link Item</div>
				<div class="item">Link Item</div>
				<div class="divider"></div>
				<div class="header">Header Item</div>
				<div class="item">
					<i class="dropdown icon"></i> Sub Menu
					<div class="menu">
						<div class="item">Link Item</div>
						<div class="item">Link Item</div>
					</div>
				</div>
				<div class="item">Link Item</div>
			</div>
		</a>
	</div>
</div>
