<div class="ui main text container">
	<h1 class="ui header">{{title}}</h1>
	<p>Nothing interesting</p>
</div>
<div class="ui borderless main menu">
	<div class="ui container">
		<a href="#" class="header item">
			<img class="logo" src="assets/images/200.gif"> Project Name
		</a>
		<a href="#" class="item">Blog</a> <a href="#" class="item">Articles</a>
		<a href="#" class="ui right floated dropdown item"> Dropdown <i
			class="dropdown icon"></i>
			<div class="menu">
				<div class="item">Link Item</div>
				<div class="item">Link Item</div>
				<div class="divider"></div>
				<div class="header">Header Item</div>
				<div class="item">
					<i class="dropdown icon"></i> Sub Menu
					<div class="menu">
						<div class="item">Link Item</div>
						<div class="item">Link Item</div>
					</div>
				</div>
				<div class="item">Link Item</div>
			</div>
		</a>
	</div>
</div>
<router-outlet></router-outlet>
<div class="ui inverted vertical footer segment">
	<div class="ui center aligned container">
		<img src="assets/images/sadpanda.png" class="ui centered mini image">
		<div class="ui horizontal inverted small divided link list">
			<a class="item" href="#">Site Map</a> <a class="item" href="#">Contact
				Us</a> <a class="item" href="#">Terms and Conditions</a> <a class="item"
				href="#">Privacy Policy</a>
		</div>
	</div>
</div>
