.red-background {
	background-color: rgba(255,0,0,0.5);
}

.green-background {
	background-color: rgba(0,255,0,0.5);
}
.table-checkbox-padding {
	padding-right: 4px;
	padding-bottom: 0;
	padding-left: 3px;
	padding-top: 4px;
}
